<table align="center">
	<tr>
		<td><h1 style="color:red">Doctor Registration Form</h1></td>
	</tr>
	<tr>
		<td>Username:<br></td>
	</tr>
	<tr>
    	<td><input type="text" ng-model="dusername"></td>
    </tr>
    <tr>
    	<td>Password :<br></td>
    </tr>
    <tr>
    	<td><input type="password" ng-model="duserpwd"></td>
    </tr>
    <tr>
    	<td>Full name : <br></td>
    </tr>
    <tr>
    	<td><input type="text" ng-model="dfullname"></td>
    </tr>
    <tr>
    	<td>specialization :<br></td>
    </tr>
    <tr>
		<td><input type="text" ng-model="drspecialization"></td>
	</tr>
	<tr>
    	<td>Age :<br></td>
    </tr>
    <tr>
    	<td><input type="number" ng-model="drage"></td>
    </tr>
    <tr>
   		<td>Gender : <br></td>
    </tr>
    <tr>
   		 <td><input type="radio" ng-model="drgender" value="male"> : male</td>
    </tr>
    <tr>
   		 <td><input type="radio" ng-model="drgender" value="female"> : Female<br><br></td>
    </tr>
    <tr>
   		 <td><button type="submit" ng-click="drregistration()">Click here</button></td>
    </tr>
</table>
